# Ruby Ignores
# ------------
*.gem
*.rbc
/.config
/pkg/
/test/tmp/
/test/version_tmp/
/tmp/
/.bundle/
/vendor/bundle
Gemfile.lock

# Crystal Ignores
# ---------------
/docs/
/lib/
/bin/
/.shards/
*.dwarf
/shard.lock

# Enviornment Ignores
# -------------------
.replit
.env
.rbenv
main.rb